<% if logs.empty? %>
    <div class="ui message">
        <div class="header">No ambient data present</div>
        <p>There is no data to show.</p>
    </div>
<% else %>
    <div class="ui left aligned container">
        <%= will_paginate logs, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
        <a data-confirm="Are you sure?" class="ui negative labeled icon button" rel="nofollow" data-method="delete" href="/logs/delete_all">
             <i class="trash icon"></i>
            Delete All
        </a>
    </div>
    <table class="ui celled table unstackable">
        <thead>
            <tr>
                <th>#</th>
                <th>Date and Time</th>
                <th>Temperature</th>
                <th>Moisture</th>
                <th>Pressure</th>
                <th>Brightness</th>
                <th>Noise</th>
            </tr>
        </thead>
        <tbody>
            <% logs.each_with_index do |log, index| %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= log.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                    <td><%= log.temperature %></td>
                    <td><%= log.moisture %></td>
                    <td><%= log.pressure %></td>
                    <td><%= log.brightness %></td>
                    <td><%= log.noise %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="ui left aligned container">
        <%= will_paginate logs, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    </div>
<% end %>