<!DOCTYPE html>
<html>
  <head>
    <title>Ambient Comfort</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="ui container content">
      <%= yield %>
    </div>
    <div class="footer">
      <p>
        Made with <i class="heart icon"></i> by
        <a href="http://hermanz.dosilovic.com">Herman Zvonimir Došilović</a>.
        Available on <a href="https://github.com/hermanzdosilovic/ambient-comfort">GitHub</a>.
      </p>
    </div>
  </body>
</html>
